.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
  }
  .carousel-image {
    max-width: 100%;
    display: block;
  }
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .indicator {
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: #ccc;
    padding: 5px;
    border-radius: 50%;
  }
  .active {
    background-color: #333;
  }