html, body, main.page-body {
    background-image: url('https://images.unsplash.com/photo-1520034475321-cbe63696469a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

html, body, header.page-header, footer.page-footer, main.page-body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.wrap { flex-wrap: wrap; }

/* NOTES STYLING */

.note-container {
    background-color: #a32a41;
    border-radius: 20px;
    width: 1100px;
    margin-left: 135px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 2px solid #ffffff;
    padding: 30px 30px 30px 30px;
}

.note-container h1 {
    font-size: 50px;
    color: #ffffff;
}

.note-container h2 {
    font-size: 35px;
    color: #ffffff;
}

.note-container p {
    font-size: 20px;
    color: #ffffff;
}

.note-container h1, .note-container h2, .note-container p {
    text-align: center;
}

#comment-from-cia-note-container, #longer-comment-from-cia-note-container {
    background-color: #000000;
    border-radius: 20px;
    line-height: 20px;
    margin-top: 40px;
    margin-left: 200px;
    border: 2px solid #ffffff;
}

#comment-from-cia-note-container {
    width: 700px;
    height: 150px;
    margin-bottom: 20px;
    padding: 30px 30px 30px 30px;
}

#longer-comment-from-cia-note-container {
    width: 800px;
    height: 200px;
    margin-bottom: 20px;
}

#comment-from-cia-note-container p, #longer-comment-from-cia-note-container p {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#smaller-text-inside-comment p {
    font-size: 20px;
}

/* END NOTES STYLING */

/*IMAGES PODITION*/

.specifc-file-intro, .last-page-content-file {
    background-color: #ffffff;
    width: 1000px;
    margin-left: 220px;
    border-radius: 15px;
    border: 2px solid #a32a41;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.specifc-whole-content-container, .specifc-whole-content-container-one {
    background-color: #a32a41;
    width: 1200px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.specifc-whole-content-container {
    margin-left: 150px;
}

.specifc-whole-content-container-one {
    margin-left: 120px;
}

#power-of-sith-text {
    color: #ffffff;
    padding: 30px 30px 30px 30px;
}

#power-of-sith-header {
    font-size: 40px;
    color: #ffffff;
}

.specific-file-side-container {
    background-color: #ffffff;
    width: 800px;
    border-radius: 15px;
    border: 2px solid #a32a41;
    margin-left: 320px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#specific-file-side-container-text {
    text-align: center;
    color: #d30101;
}

.specifc-file-option-one, .specifc-file-option-two, .specifc-file-option-three, .specifc-file-option-four, .specifc-file-option-five, .specifc-file-option-six, .specifc-file-option-seven, .specifc-file-option-eight, .specifc-file-option-nine {
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
}

.specifc-file-option-seven {
    display: flex;
    margin-left: 250px;
    margin-top: -200px;
}

.specifc-file-option-six {
    margin-bottom: 250px;
}

#specifc-file-image img {
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

.specifc-file-text {
    background-color: #a32a41;
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

#specifc-file-header h1 {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

#specific-file-info {
    text-align: center;
    font-size: 17px;
    color: #ffffff;
}

.header-of-specific-page h1 {
    font-size: 80px;
    color: #ffffff;
    margin-left: 280px;
}

.header-of-specific-page h2 {
    font-size: 70px;
    color: #ffffff;
    margin-left: 230px;
}

.header-of-specific-page h3 {
    font-size: 60px;
    color: #ffffff;
    margin-left: 220px;
}

.header-of-specific-page h4 {
    font-size: 50p;
    color: #ffffff;
    margin-left: 100px;
}

.header-of-specific-page h5 {
    font-size: 50px;
    color: #ffffff;
    margin-left: 220px;
}

.header-of-specific-page h6 {
    font-size: 50px;
    color: #ffffff;
    margin-left: 50px;
}

.header-of-specific-page {
    margin-bottom: 100px;
    margin-top: 50px;
}

/*END IMAGES PODITION*/

/* NOTES CARD */

.notes-from-every-sith {
    display: flex;
}

.notes-from-every-sith, .exile-and-arival-note-post, .the-first-great-schism-note-post, .the-hundred-year-darkness-note-post, .the-new-truth-note-post, .proud-people-of-sith-note-post, .the-weakness-of-inferiors, .the-false-war, .the-useful-bureaucrats, .hiding-in-plain-sight {
    margin-left: 60px;
    margin-top: 40px;
}

.the-book-of-anger, .the-manipulation-of-life {
    margin-top: 40px;
    margin-left: 210px;
}

.the-new-truth-note-post img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#box-image img {
    width: 350px;
    height: 250px;
    border-radius: 15px;
}

.box-text-box {
    background-color: #ffffff;
    width: 350px;
    border-radius: 15px;
    height: 100px;
    /*
    margin-top: -260px;
    If the text box should be placed at the top of the image
    */
    margin-top: -108px;
    position: absolute;
}

.box-text-box h1 {
    font-size: 30px;
    line-height: 20px;
    text-align: center;
}

#box-button {
    font-size: 20px;
    margin-left: 90px;
    text-align: center;
    margin-top: 20px;
    width: 180px;
    border-radius: 15px;
    border: 2px solid #000000;
    background-color: #a32a41;
}

#box-button a {
    color: #ffffff;
    text-decoration: none;
}

/* END NOTES CARD */

/*RIM CAMPAIGN */

.sith-rim-campaign-container {
    display: flex;
}

.sith-rim-capaign-zero, .sith-rim-capaign-one, .sith-rim-campaign-two, .sith-rim-campaign-three, .sith-rim-campaign-four, .sith-rim-campaign-five, .sith-rim-campaign-six, .sith-rim-campaign-seven, .sith-rim-campaign-eight, .sith-rim-campaign-nine, .sith-rim-capign-teen {
    display: flex;
    border: 2px solid #ffffff;
    width: 600px;
    height: 250px;
}

#rim-capaing-photo img {
    width: 300px;
    height: 250px;
}

.rim-capaing-text-box {
    background-color: #a32a41;
    width: 300px;
    height: 250px;
}

#text-rim-campaign h1 {
    font-size: 35px;
    text-align: center;
    color: #ffffff;
}

#text-rim-campaign h2 {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

#rim-campaign-button {
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #ffffff;
    text-align: center;
    width: 250px;
    margin-left: 30px;
}

#rim-campaign-button a {
    text-decoration: none;
    color: #ffffff;
}

.sith-rim-capaign-zero, .sith-rim-capaign-one, .sith-rim-campaign-two, .sith-rim-campaign-two, .sith-rim-campaign-three, .sith-rim-campaign-four, .sith-rim-campaign-five, .sith-rim-campaign-six, .sith-rim-campaign-seven, .sith-rim-campaign-eight, .sith-rim-campaign-nine {
    margin-left: 60px;
}

.sith-rim-campaign-two, .sith-rim-campaign-three, .sith-rim-campaign-four, .sith-rim-campaign-five, .sith-rim-campaign-six, .sith-rim-campaign-seven, .sith-rim-campaign-eight, .sith-rim-campaign-nine, .sith-rim-capign-teen {
    margin-top: 30px;
}

.sith-rim-capign-teen {
    margin-left: 400px;
    margin-bottom: 100px;
}